{% extends 'base.html'%} {% block content %}
<section class="about layout">
  <h2>حول العيادة</h2>
  <p>
    نحن عيادة طبية متخصصة في تقديم خدمات التشخيص والعناية الصحية بأعلى جودة.
    نهدف إلى تسهيل وصول المرضى إلى الرعاية الصحية من خلال نظام حجز بسيط وسريع.
    نؤمن بأن وقت المريض مهم، لذلك قمنا بتطوير نظام يضمن: <br> تقليل وقت الانتظار,
    تنظيم المواعيد بشكل دقيق, تقديم تجربة مريحة لكل مريض. <br> نسعى دائمًا لتقديم أفضل
    خدمة ممكنة باستخدام أحدث الأساليب.
  </p>
</section>

<section class="home__content">
    <h1 class="title"> رؤيتنا </h1>
    <div class="feature__card">
            <span class="icon">
                <i class="ri-focus-3-line"></i>
            </span>
            <p class="vision">
              نسعى لأن نكون الخيار الأول للمرضى في تقديم خدمات التشخيص والرعاية الصحية، من خلال تجربة سهلة وسريعة تضع راحة المريض في المقام الأول، مع الالتزام بأعلى معايير الجودة والاحترافية.
            </p>
        </div>
</section>
<section class="home__content">
    <h1 class="title"> رسالتنا </h1>
    <div class="feature__card">
            <span class="icon">
                <i class="ri-target-line"></i>
            </span>
            <p class="vision">
             تقديم خدمات طبية موثوقة وسهلة الوصول، عبر نظام حجز منظم يقلل من وقت الانتظار ويضمن لكل مريض عناية متميزة وتجربة مريحة من بداية الحجز حتى تلقي الخدمة.
            </p>
        </div>
</section>
{% endblock content %}
