<!DOCTYPE html>
{% load static %}
<html lang='ar'>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.9.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Waleed Clinic</title>
</head>
<body>
    {% if messages %}
        {% for message in messages %}
        <div class="alert {{ message.tags }}">
            {% if 'success' in message.tags %}
                <span>
                    <i class="ri-check-line"></i>
                </span>
            {% else %}
                <span>
                    <i class="ri-close-line"></i>
                </span>
            {% endif %}
            <span>{{ message }}</span>
        </div>
        {% endfor%}
    {% endif  %}
    
    {% include 'parts/navbar.html'%}
    {% block content %}

    {% endblock content %}
    {% include 'parts/footer.html'%}
</body>
</html>